<div class="max-w-7xl mx-auto py-10">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex">
    <div class="w-1/2 flex items-center">
      <h1 class="font-bold text-2xl">Genres</h1>
      <%= link_to new_genre_path, class: "flex items-center ml-5 block px-3 py-2 rounded bg-blue-500 hover:bg-blue-600 text-white" do %>
        <svg class="w-4 h-4 stroke-white mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="transparent" data-slot="icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
        </svg>
        Add genre
      <% end %>
    </div>
    <div class="w-1/2 flex items-center justify-end">
      <%= form_tag(genres_path, method: :get, class: "text-white min-w-[300px]") do %>
        <div class="relative">
          <%= text_field_tag(:search, params[:search],
                               placeholder: "Search genre...",
                               class: "w-full bg-zinc-700 py-2 px-3 rounded-lg focus:ring-white focus:border-white") %>
          <svg class="absolute top-[11px] right-3 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-5">
    <%= render "table" %>
  </div>
  <div class="flex items-center justify-center mt-5">
    <%= paginate @genres %>
  </div>
</div>
