<div class="max-w-7xl mx-auto relative  pt-10">
  <%= render "search" %>
  <h1 class="text-2xl mb-10 border-l-4 border-white pl-2">Movies</h1>
  <div id="movies" class="flex flex-wrap -mx-2 mb-5">
    <% @movies.each do |movie| %>
      <div class="px-2 w-1/6 mb-8 group">
        <%= link_to movie do %>
          <div id="<%= dom_id movie %>">
            <div class="relative">
              <div class="absolute inset-0 group-hover:bg-black/20 rounded"></div>
              <% if movie.poster.attached? %>
                <%= image_tag movie.poster, class: "h-[250px] w-full object-cover object-center rounded" %>
              <% else %>
                <%= image_tag "https://placehold.co/200x250", class: "h-[250px] w-full object-cover object-center rounded" %>
              <% end %>
            </div>
            <div class="text-blue-500 mt-3 mb-1 group-hover:text-blue-300">
              <%= movie.title %>
            </div>
            <div class="text-zinc-400 group-hover:text-zinc-300 text-sm">
              <%= Date.parse(movie.release_date.to_s).strftime("%Y") %> | 
              <%= humanized_duration(movie.duration_minutes) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="flex items-center justify-center">
    <%= paginate @movies %>
  </div>
</div>
