<div class="bg-zinc-500 text-white">
  <div class="flex justify-between max-w-7xl mx-auto h-[160px] pt-[40px]">
    <!-- Logo & brand -->
    <div>
      <div class="flex items-center space-x-2">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 28 28">
            <path id="Exclusion_1" data-name="Exclusion 1" d="M18,28H5a5.006,5.006,0,0,1-5-5V10A10.011,10.011,0,0,1,10,0H23a5.006,5.006,0,0,1,5,5V18A10.011,10.011,0,0,1,18,28ZM10.621,8a1.16,1.16,0,0,0-.772.29,1.088,1.088,0,0,0-.35.832v9.753a1.122,1.122,0,0,0,1.7.968l8.251-4.875a1.124,1.124,0,0,0,0-1.936L11.2,8.153A1.13,1.13,0,0,0,10.621,8Z" fill="#fff"/>
          </svg>
        </div>
        <%= link_to "MTM Movie", root_path, class: "font-bold text-xl" %>
      </div>
    </div>
    <!-- Menu -->
    <div class="">
      <ul class="flex space-x-5">
        <li class="hover:text-gray-300 <%= "border-b-2 border-white" if current_page?(root_path) || current_page?(movies_path) %>">
          <%= link_to "Movies", movies_path %>
        </li>
        <% if user_signed_in? %>
          <li class="hover:text-gray-300 <%= "border-b-2 border-white" if current_page?(new_movie_path) %>">
            <%= link_to "Create Movie", new_movie_path %>
          </li>
          <li class="hover:text-gray-300 <%= "border-b-2 border-white" if current_page?(new_movie_path) %>">
            <%= link_to current_user.email, edit_user_registration_path %>
          </li>
          <li class="hover:text-gray-300 <%= "border-b-2 border-white" if current_page?(new_movie_path) %>">
            <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
          </li>
        <% else %>
          <li class="hover:text-gray-300 <%= "border-b-2 border-white" if current_page?(new_movie_path) %>">
            <%= link_to "Login", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
